<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation-float.css" integrity="sha256-h9i8L1eVkaZg4vi/+f+jUUbAulAo9wnQwZtoFHoaUEY=" crossorigin="anonymous" />
    <title>Bars N Beaches</title>
  </head>

  <body style="margin:1rem; padding:1rem">

    <main role="main" class="container">
      <form method="POST" action="/login" class="form-signin">
        <h2 class="form-heading">Log in</h2>
        <div>
          <span th:text="${message}"></span>
          <span th:text="${error}"></span>
          <input name="username" type="text" class="form-control" placeholder="Username" autofocus="true"/>
          <input name="password" type="password" class="form-control" placeholder="Password"/>
          <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

          <input type="submit" value="Sign in" />
          <br>
          <br>
          <div class="text-center">
            Not yet a member? <a th:href="@{/registration}" >Sign up here</a>
          </div>
        </div>
      </form>
    </main>

  </body>

</html>