<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bars N Beaches</title>
</head>
<body>
<main class="container">
  <form method="POST" action="#" th:action="@{/login}" th:object="${userLogin}" class="form-signin">
    <h2 class="form-heading">Log in</h2>
    <div>
      <span th:text="${message}"></span>
      <input name="username" type="text" th:field="*{username}" th:value="*{username}" class="form-control" placeholder="Username" autofocus="true"/>
      <input name="password" type="password" th:field="*{password}" th:value="*{password}" class="form-control" placeholder="Password"/>
      <span th:text="${error}"></span>
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
      <h4 class="text-center"><a th:href="@{/registration}">Create an account</a></h4>
    </div>
  </form>
</main>
</body>
</html>