<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation-float.css" integrity="sha256-h9i8L1eVkaZg4vi/+f+jUUbAulAo9wnQwZtoFHoaUEY=" crossorigin="anonymous" />
  <title>Bars N Beaches</title>
</head>
<body style="margin:1rem; padding:1rem">
  <main role="main" class="container">
    <h2 class="form-signin-heading" th:text="'Welcome! '+${username}">Success!</h2>
  </main>
  <p><a th:href="'/newBar'" class="button">Add a bar</a>
</body>
</html>